<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" >
                    <div class="content_image">
                        <a class="<%= 'active' if current_page?('/home/index') %>">
                            <%= link_to "/home/index" do %>
                                <%= image_tag("logo_sena.png", alt: "sena logo", class: "logo_sena_md") %>
                            <% end %>
                        </a>
                    </div>
                </div>
                <div class="logo-element">
                    <a class="<%= 'active' if current_page?('/home/index') %>">
                        <%= link_to "/home/index" do %>
                            <%= image_tag("logo_sena.png", alt: "sena logo", class: "logo_sena") %>
                        <% end %>
                    </a>
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/people') %>">
                <%= link_to "/people" do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">People</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/people/new') %>">
                <%= link_to "/people/new" do %>
                <i class="fa fa-desktop"></i> <span class="nav-label">New person</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/home/index') %>">
                <%= link_to "/home/index" do %>
                <i class="fa fa-desktop"></i> <span class="nav-label">Option One</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/home/index') %>">
                <%= link_to "/home/index" do %>
                <i class="fa fa-desktop"></i> <span class="nav-label">Option Two</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>